.navbar {
    padding-right: 10px;
}

.navbar-brand {
    color: #00ace6 !important;
}

.navbar-brand:hover {
    color: #ffffff !important;
}

.modal-dialog-permissions {
    width: 75%;
    margin: 30px auto;
}

.modal-dialog-con-phr {
    width: 75%;
    margin: 30px auto;
}

.modal-lg {
    width: 75% !important;
    margin: 30px auto !important;
}

.typeahead,
.tt-query,
.tt-hint {
    /*width: 396px;*/
    /*height: 30px;*/
    /*padding: 8px 12px;*/
    /*outline: none;*/
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

#project-panel {
    margin-top: 65px;
    margin-left: 21%;
}

.my_project_table_side_container {
  padding-left: 5px;
}

.project-table .project-checkbox {
    width: 25px;
}

.project-table .project-title {

}

.project-table .project-owner {
    width: 160px;
}

.project-table .project-date {
    width: 160px;
}

.project-table-side .project-checkbox {
    width: 25px;
}

.project-table-side .project-score {
    width: 35px;
}

#my-project-table-body-side {
    font-size: 12px;
}

#my-project-table-body-side .tr {
    font-size: 12px;
}

.project-table-side .project-score {
    max-width: 40px;
}

.project-table-side .project-owner {
    max-width: 40px;
}

.project-table-side .project-date {
    max-width: 70px;
}

#search-form {
    margin: 0 0 0 4px;
}

.key-actions kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.panel-heading {
    overflow: auto;
}

#tabs {
    margin-top: 2px;
}

/*******************
 Bootstro guided tour START
********************/
.bootstro-finish-btn {
    width: 245px;
}

/*******************
 Bootstro guided tour END
********************/


/*******************
 Smart Notifications START
********************/
.SmallBox {
    position: absolute;
    right: 15px;
    top: 75px;
    width: 420px;
    color: #fff;
    z-index: 900;
    overflow: hidden;
    border: 1px solid transparent;
}

.SmallBox .foto {
    font-size: 50px;
    position: absolute;
    left: 17px;
}

.SmallBox .textoFoto {
    width: 78%;
    margin: 3px 20px 3px 80px;
    float: left;
}

.SmallBox span {
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin: 4px 0;
}

.SmallBox p {
    font-size: 13px;
    margin-top: 2px;
}

.SmallBox li {
    font-size: 13px;
    margin-top: 2px;
}

.SmallBox li img {
    margin: -8px 0px -4px 0px;
}

/*******************
 Smart Notifications END
********************/

/*******************
 Guided Tour START
********************/
#guided-tour-ignore-link {
    color: #aaa;
}

#guided-tour-ignore-link:hover {
    color: #fff;
}

.bootstro-backdrop {
    z-index: 1009 !important;
}
/*******************
 Guided Tour END
********************/

a {
    cursor: pointer;
}

/* The sidebar menu */
.sidenav {
    margin-top: 50px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #565656; /* Grey */

    padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 17px;
    color: ghostwhite;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: slategrey;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
}

.mainview {
  width: 78%;
}

.fa-chevron-circle-down {
  color: grey;
}

.fa-chevron-circle-up {
  color: grey;
}

.down {
  color: darkred;
}

.up {
  color: #009fe0;
}
