<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAitxAqi41e9tjQiqng3c7iyZieJF8b2f4",
    authDomain: "dragonspectra-dev.firebaseapp.com",
    databaseURL: "https://dragonspectra-dev.firebaseio.com",
    projectId: "dragonspectra-dev",
    storageBucket: "dragonspectra-dev.appspot.com",
    messagingSenderId: "191832453839"
  };
  firebase.initializeApp(config);
</script>