<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCG0GVCTurq3HsJNowLnyzpnAeHCRQUzIw",
    authDomain: "firetactoe-2fc95.firebaseapp.com",
    databaseURL: "https://firetactoe-2fc95.firebaseio.com",
    projectId: "firetactoe-2fc95",
    storageBucket: "firetactoe-2fc95.appspot.com",
    messagingSenderId: "679112719989"
  };
  firebase.initializeApp(config);
</script>