<!DOCTYPE html>
<html>
<head>
    <title>Account Disabled</title>
    {% include 'head_links.html' %}
</head>

<body>
<div class="container">
    <br>
    <img src="/images/tt-logo.png" height="75">
    <br><br>

    <div class="alert alert-danger"><strong>Account Disabled</strong></div>
    <p>Hello!</p>

    <p>Your account has been disabled.</p>
    <p>For more information, please contact support at the following email: <a href="email:support@corpus.io">support@corpus.io</a></p>

</div>
</body>
</html>