<!DOCTYPE HTML>
{% autoescape true %}
<html>
<head>
    <title>{{ title }}</title>
    {% include 'home_links.html' %}
</head>

<body>

<div class="row nav-row">
    <div id="nav_bar">
        <div id="notification" class='notifications bottom-right'></div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-item">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="tt-home" class="navbar-brand" href="/">thinkTank</a>
            </div>

            <div id="navbar-collapse-menus" class="collapse navbar-collapse navbar-collapse-item">
                <ul class="nav navbar-nav">
                    <li >
                        <h5 class="spectra-header">Spectra Count: </h5><h5 id="spectra-class"></h5>
                    </li>
                    <li id="project-menu-item">
                        <a id="project_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            Project
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="project_dropdown">
                            <li><a id="nar_bar_create_project" href="#"><i class="fa fa-plus"></i> New Project <kbd class="shortcut">CTRL+ALT+N</kbd></a></li>
                            <li><a id="nar_bar_import_project" href="#"><i class="fa fa-upload"></i> Import Project <kbd class="shortcut">CTRL+ALT+I</kbd></a></li>
                            <li class="divider"></li>
                            <li><a id="nar_bar_backup_project" href="#"><i class="fa fa-archive"></i> Backup Project</a></li>
                            <li><a id="nar_bar_restore_project" href="#"><i class="fa fa-file"></i> Restore Project</a></li>
                            <li class="divider"></li>
                            <li><a id="nar_bar_rename_project" href="#"><i class="fa fa-pencil"></i> Rename Project</a></li>
                            <li><a id="nar_bar_delete_project" href="#"><i class="fa fa-times-circle"></i> Delete Project</a></li>
                            <li><a id="nav_bar_project_security" href="#"><i class="fa fa-shield"></i> Project Security</a></li>
                            <li class="divider"></li>
                            <li><a id="nar_bar_exort_abstract" href="#"><i class="fa fa-file-text-o"></i> Generate Abstract/Summary</a></li>
                            <li><a id="nar_bar_exort_presentation" href="#"><i class="fa fa-file-powerpoint-o"></i> Generate Presentation</a></li>
                            <li class="divider"></li>
                            <li><a id="nar_bar_exort_print" href="#"><i class="fa fa-print"></i> Print <kbd class="shortcut">CTRL+P</kbd></a></li>
                        </ul>
                    </li>
                    <li id="document-menu-item">
                        <a id="document_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            Document
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="document_dropdown">
                            <li><a id="nav_bar_create_document" href="#"><i class="fa fa-plus"></i> New Document <kbd class="shortcut">CTRL+ALT+D</kbd></a></li>
                            <li class="divider"></li>
                            <li><a id="nav_bar_edit_document" href="#"><i class="fa fa-pencil"></i> Edit Document Properties</a></li>
                            <li><a id="nav_bar_delete_document" href="#"><i class="fa fa-times-circle"></i> Delete Document</a></li>
                            <li><a id="nav_bar_document_security" href="#"><i class="fa fa-shield"></i> Document Security</a></li>
                        </ul>
                    </li>
                    <li id="concept-menu-item">
                        <a id="concept_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            Concept
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="concept_dropdown">
                            <li><a id="nav_bar_create_concept" href="#"><i class="fa fa-plus"></i> New Concept <kbd class="shortcut">ENTER</kbd></a></li>
                            <li><a id="nav_bar_create_image_concept" href="#"><i class="fa fa-picture-o"></i> New Image Concept</a></li>
                            <li><a id="nav_bar_create_linked_concept" href="#"><i class="fa fa-link"></i> New Linked Concept</a></li>
                            <li><a id="nav_bar_delete_concept" href="#"><i class="fa fa-times-circle"></i> Delete Concept <kbd class="shortcut">DELETE</kbd></a></li>
                            <li class="divider"></li>
                            <li><a id="nav_bar_concept_security" href="#"><i class="fa fa-shield"></i> Concept Security</a></li>
                            <li><a id="copy_link" href="#"><i class="fa fa-link"></i> Copy Concept Link</a></li>
                        </ul>
                    </li>
                    <li id="phrasing-menu-item">
                        <a id="phrasing_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            Phrasing
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="phrasing_dropdown">
                            <li><a id="nav_bar_create_phrasing" href="#"><i class="fa fa-plus"></i> New Phrasing <kbd class="shortcut">SHIFT+ENTER</kbd></a></li>
                            <li><a id="nav_bar_edit_phrasing" href="#"><i class="fa fa-pencil"></i> Edit Phrasing <kbd class="shortcut">ESCAPE</kbd></a></li>
                        </ul>
                    </li>
                    <li id="view-menu-item">
                        <a id="view_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            View
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="view_dropdown">
                            <li><a id="nav_bar_toggle_image" href="#"><i class="fa fa-arrows-alt"></i> Toggle Image Display <kbd class="shortcut">CTRL+I</kbd></a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="help_dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-life-saver"></i> Help
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a onclick="show_about_dialog()"><i class="fa fa-info-circle"></i> About thinkTank™</a></li>
                            <li class="divider"></li>
                            <li><a onclick="show_search_help()"><i class="fa fa-search"></i> Help with Search</a></li>
                            <li><a href="https://www.youtube.com/watch?v=UPuJRQBaO7M&list=PLMhWFDh_vyK63O70qwGOJw8L3IfvFL9P_" target="tutorials"><i class="fa fa-youtube-play"></i> Tutorial Videos</a></li>
                            <li><a href="https://thinktank.corpus.io/project/338f60a8da9a11e38c358be5c980dc22?doc=338f3994da9a11e38c358be5c980dc22&nav=true" target="user-guide"><i class="fa fa-question-circle"></i> User Guide</a></li>
                            <li><a onclick="play_guided_tour()"><i class="fa fa-road"></i> Take a Quick Guided Tour</a></li>
                            <li class="divider"></li>
                            <li><a onclick="show_keybindings()"><i class="fa fa-keyboard-o"></i> Shortcuts <kbd class="shortcut">CTRL+K</kbd></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="user_dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user"></i> {{ display_name }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="nar_bar_user" href="#"><i class="fa fa-user"></i> My Profile</a></li>
                            <li><a id="nar_bar_user_admin" href="#">Admin Panel</a></li>
                            <li class="divider"></li>
                            <li><a id="nar_bar_user_logout" href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="search-form" class="nav navbar-nav navbar-right col-sm-5 col-md-4 col-lg-3">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Search" id="search_input">
                                <span class="input-group-addon" id="search_btn"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon" id="clear_search_btn"><strong>X</strong></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid body-row">
    <div class="body-left-container">
        <div class="jumbotron profile-jumbotron profile-jumbotron-left">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item active">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Recent Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Latest News</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <table id="my_project_table_side_ranked" class="table table table-hover table-condensed project-table-side">
                          <thead>
                              <tr>
                                  <th class="project-voter"></th>
                                  <th class="project-score">Score</th>
                                  <th class="project-title" id="sidetitle">Title</th>
                                  <th class="project-owner">Owner</th>
                                  <th class="project-date">Date Created</th>
                              </tr>
                          </thead>
                          <tbody id="my-project-table-body-ranked">
                          </tbody>
                      </table>

                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                  </div>
                </div>
            </div>
        </div>
    <div class="row body-right-container">

        <div class="col-md-2 jumbotron profile-jumbotron index-jumbotron-right"></div>
        <div class="col-md-2 jumbotron profile-jumbotron index-jumbotron-right"></div>
        <div class="col-md-2 jumbotron profile-jumbotron index-jumbotron-right"></div>
        <div class="col-md-2 jumbotron profile-jumbotron index-jumbotron-right"></div>


        </div>
    </div>
</div>
{% include 'bootstrap_modal.html' %}
{% include 'modals/permission_settings.html' %}
{% include 'modals/project_create.html' %}
{% include 'modals/project_restore.html' %}
{% include 'scripts.html' %}
{% include 'project_scripts.html' %}
<script src="/js/home_page.js" type="text/javascript"></script>
<script type="text/javascript">
    var server_data;
    function set_server_data(data) {
        data.user = JSON.parse(data.user);
        server_data = data;
    }

    set_server_data({{ data|safe }});

    window.onload = function () {
        initialize(server_data);
    }
</script>
</body>
</html>
{% endautoescape %}
