<!DOCTYPE html>
<html>
<head>
    <title>Login Disabled</title>
    {% include 'head_links.html' %}
</head>

<body>

<div class="container">
    <br>
    <img src="/images/tt-logo.png" height="75">
    <br><br>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="fa fa-warning"></i> Internet Explorer Unsupported!
        </div>
        <div class="panel-body">
            <p>We apologize but thinkTank does not currently support Internet Explorer.</p>
            <p>To login, please download and use <a href="https://www.google.com/intl/en-US/chrome/browser/">Google Chrome Browser</a>.</p>
            <img style="width: 250px;" src="/images/NO-SOUP-FOR-YOU.jpg">
        </div>

    </div>

</div>
{% include 'scripts.html' %}
</body>
</html>