<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'head_links.html' %}
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <div id="logos" class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="/images/tt-logo.png" alt="thinkTank logo">
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div id="non-std-browser-msg" class="hidden panel panel-warning">
                    <div class="panel-heading">
                    <i class="fa fa-warning"></i> Unsupported Browser
                </div>
                <div class="panel-body">
                    <p>For the best user experience the thinkTank team recommends that you use <a href="https://www.google.com/intl/en-US/chrome/browser/">Google Chrome</a>.</p>
                    <i class="fa fa-thumbs-o-up fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div id="bad-login-alert" class="hidden alert alert-danger" role="alert">
                Login Failed: your username or password is incorrect.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form id="register_form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <div>
                        <input id="username" name="username" type="text" class="form-control input-xlarge"
                               placeholder="Username" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <div>
                        <input id="password" name="password" type="password" class="form-control input-xlarge"
                               placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-primary" onclick="return login()">Login</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <button id="forgot_password" class="btn btn-link">Forgot Password</button><br>
            <button id="forgot_username" class="btn btn-link">Forgot Username</button><br>
            <button class="btn btn-link" onclick="return register()">Register</button>
        </div>
    </div>
</div>
</body>

<div id="browser" class="hidden">{{ browser }}</div>

{% include 'scripts.html' %}
<script src="/js/login.js" type="application/javascript"></script>
</html>