<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'head_links.html' %}
</head>

<body>

<div class="container">
    <br>
    <img src="/images/tt-logo.png" height="75">
    <br><br>
    <p>Hello!</p>

    <p>Please fill in your new password below</p>
    <p>For more information, please contact support at the following email: <a href="email:support@corpus.io">support@corpus.io</a></p>
    <br><br>

    <form role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div id="password-div" class="form-group">
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                </div>
            </div>
            <div id="confirm-pass-div" class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="password" class="form-control input-lg" id="confirm-password" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <a id="save_button" class="btn btn-primary">Save</a>
    </form>
</div>
{% include 'scripts.html' %}
<script>
    var password_name_valid = false;
    var password_check_timeout;

    function initialize() {
        $("#save_button").addClass('disabled');
        $("#password").bind("change paste keyup", check_if_passwords_match);
        $("#confirm-password").bind("change paste keyup", check_if_passwords_match);
        $("#save_button").click(function () {
            var url = '{{ reset_url|safe }}';
            if (post_to_server(url, {'password': $("#password").val()}, false) == -1) {
                bootbox.alert('There was a problem resetting your password, please contact support');
            } else {
                window.location.replace('/');
            }
        });
    }

    function check_if_passwords_match() {
        var password = $("#password");
        var confirm_password = $("#confirm-password");
        if (password_check_timeout != null) {
            clearTimeout(password_check_timeout);
        }
        password_check_timeout = setTimeout(function () {
            if (password.val() == confirm_password.val() &&
                    confirm_password.val() != '' && password.val() != '') {
                $("#save_button").removeClass('disabled');
                $("#confirm-pass-div").removeClass('has-error');
                $("#password-div").removeClass('has-error');
                $("#confirm-pass-div").addClass('has-success');
                password_name_valid = true;
                $("#password-div").addClass('has-success');
            } else if (password.val() == '' && confirm_password.val() == '') {
                $("#save_button").addClass('disabled');
                $("#confirm-pass-div").removeClass('has-success');
                $("#password-div").removeClass('has-success');
                $("#confirm-pass-div").removeClass('has-error');
                password_name_valid = false;
                $("#password-div").removeClass('has-error');
            } else {
                $("#save_button").addClass('disabled');
                $("#confirm-pass-div").removeClass('has-success');
                $("#password-div").removeClass('has-success');
                $("#confirm-pass-div").addClass('has-error');
                password_name_valid = false;
                $("#password-div").addClass('has-error');
            }
        }, 500);

    }

    window.onload = initialize;
</script>
</body>
</html>