<!DOCTYPE html>
<html>
<head>
    <title>Registration Disabled</title>
    {% include 'head_links.html' %}
</head>
<body>

<div class="container">
    <br>
    <img src="/images/tt-logo.png" height="75">
    <br><br>

    <div class="alert alert-info"><strong>User Registration Closed</strong></div>
    <p>Hello!</p>

    <p>Sorry, but we are not currently accepting new users.</p>

    <p>If you are interested in registering, or to request more information, please click the button below...</p>

    <a href="https://docs.google.com/a/corpus.io/forms/d/1GxsS2Ci8t9V0-fBuNKrIQDNz-mqcEUi96ankveV4V5o/viewform"
       class="corpus-btn btn-lg btn-success">Request More Info</a>
    <br><br>
</div>
{% include 'scripts.html' %}
</body>
</html>